body {
    text-align: center;
    background-color: black;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    color: white;
    font-size: 50px;
}

h2 {
    font-family: verdada;
    font-weight: 300;
    color: white;
    font-size: 42px;
}

h6 {
    font-family: verdana;
    font-size: 21px;
    color: gray;
}

.download {
    color: aquamarine;
    font-size: 16px;
}

