body {
    text-align: center;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading-1 {
    font-weight: normal;
    color: white;
    font-size: 50px;
}

.heading-2 {
    font-weight: 300;
    color: white;
    font-size: 42px;
}

.heading-4 {
    font-size: 21px;
    color: gray;
}

.download {
    color: aquamarine;
    font-size: 16px;
}

.wordmark {
    text-align: right;
}
